body {
    text-align: center;
    background-color: gray;
}

h1 {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: #000000;
}

#container {
    margin: 0 auto;
    padding: 10px;
    width: 500px;
}

#result {
    width: 453px;
    height: 150px;
    background-color: grey;
    margin: 0 auto;
    padding-top: 20px;
}

#screen {
    height: 100px;
    width: 365px;
    margin: auto;
    background-color: white;
    font-size: 40px;
    font-style: italic;
}

#numbers {
    width: 350px;
    height: 400px;
    padding: 20px;
    background-color: gray;
    display: inline-block;
    vertical-align: top;
}

#operators {
    width: 100px;
    height: 400px;
    background-color: gray;
    display: inline-block;
}

#shell {
    background-color: gray;
    width: 465px;
}

#numbers .button {
    font-size: 30px;
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 5px;
    border-top: black 4px solid;
}

#operators .button {
    font-size: 25px;
    display: inline-block;
    height: 55px;
    width: 70px;
    margin: 5px;
    border-top: black 4px solid;
}

#numbers .zero {
    width: 175px;
}